{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}
{% block 'body' %}
<div class="box">

<form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {{message.tags}}">
        {{message}}
        </div>
    {% endfor %}
{% endif %}

<h5 class="titulo font-degrade borda-bottom-degrade">RECUPERAR SENHA</h5>
<br>

{{form}}

<br>
<input type="submit" value="Recuperar senha" class="btn btn-success btn-lg">
    {% if form.errors %}
        {{form.errors}}
    {% endif %}
</form>

</div>
{% endblock %}
