{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'jobs/css/encontrar_jobs.css' %}">
    <link rel="stylesheet" href="{% static 'jobs/css/perfil.css' %}">
{% endblock %}

{% block 'body' %}
    <br>
    <br>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
        <div style="width: 60%">
            <form action="{% url 'perfil' %}" method="POST">{% csrf_token %}
                <p>Username:</p>
                <input type="text" class="form-control" value="{{user.username}}" name="username">
                <br>
                <p>Email:</p>
                <input type="email" class="form-control" value="{{user.email}}" name="email">
                <br>
                <p>Primeiro nome:</p>
                <input type="text" class="form-control" value="{{user.first_name}}" name="primeiro_nome">
                <br>
                <p>Último nome:</p>
                <input type="text" class="form-control" value="{{user.last_name}}" name="ultimo_nome">
                <br>
                <input type="submit" class="btn btn-success btn-lg" value="Salvar alterações">
            </form>
        </div>
        <br>
        <hr class="borda-degrade">
        <br>
        <h4 class="titulo">Histórico</h4>

        <table style="background-color: #222; color: white;" class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Imagem</th>
                <th scope="col">Título</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
                </tr>
            </thead>
        {% for job in jobs %}    
            <tbody>
                <tr>
                <th scope="row"><img width="100px" src="{{job.referencias.all.0}}"></th>

                <td>{{job.titulo}} </td>

                <td>{% if job.categoria == 'D'%}
                    Design
                    {% elif job.categoria == 'EV'%}
                    Edição de vídeo
                    {% endif %}
                </td>
                <td>{{job.descricao}}</td>

                <td>{% if job.status == 'AA'%}
                    <span class="badge badge-info">Aguardando aprovação</span>
                    {% elif job.status == 'C' %}
                    <span class="badge badge-primary">Em criação</span>
                    {% else %}
                    <span class="badge badge-success">Finalizado</span>
                    {% endif %}
                </td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
{% endblock %}
